@font-face {
    font-family: CloisterBlack;
    src: url("../fonts/CloisterBlack.ttf");
}
@font-face {
    font-family: NK_Mono;
    src: url("../fonts/NK_Mono.ttf");
}
@font-face {
    font-family: Palace_Script_MT_Semi_Bold;
    src: url("../fonts/Palace_Script_MT_Semi_Bold.ttf");
}
@font-face {
    font-family: PinyonScript-Regular;
    src: url("../fonts/PinyonScript-Regular.ttf");
}
@font-face {
    font-family: LucidaHandwritingStdLight;
    src: url("../fonts/LucidaHandwritingStdLight.TTF");
}